dist/
node_modules/
.env

  discord_notif:
    runs-on: ubuntu-latest
    needs: [simple_deployment_pipeline, tag_release]
    steps:
      - name: Send a notification to fullstack_webhook
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}